body{
    background-color: rgb(207, 198, 214);
    margin: 1px;
    width: 100%;
    display: flexbox;
}

.head {
    background-color: rgb(209, 36, 9);
    display: flex;
    height: 95px;
    width: 100%;
    gap:px;

}

.head :hover {
    color: rgb(200, 183, 216);
}
.in a {
    text-decoration: none;
    color: white;
}
.sky {
    background-color: rgb(7, 7, 124);
    text-decoration: none;
    width: 270px;
    text-align: right;
    font-size: 60px;
    padding-top: 5px;
    
}
    
.sky a {
    text-decoration: none;
    color: white;

}


.sport {
    text-decoration: none;
    text-align: right;
    font-size: 60px;
    padding-top: 5px;
    
}
.sport a{
    text-decoration: none;
    color: white;
}
.get {
    margin-left: 500px;
}
.get a {
    text-decoration: none;
    text-align: right;
    color: white;
    position: relative;
   float: right;
   justify-items: end;
   font-size: larger;
   margin-top: 35px;
   
}

.log{
    margin-top: 43px;
    margin-left: 20px;
}
.in {
    margin-top: 35px;
    font-size: larger;
    margin-left: 10px;
    color: white;
}
span.log img [alt="login"] {
    height: 10px;
}
.nav {
    display: flex;
    background-color: rgb(229, 233, 233);
}
.nav ul {
    text-decoration: none;
    display: flex;
    margin-left: 150px;
    margin-right: 40px;
    list-style: none;
    gap: 30px;
    
}

.nav ul a {
    text-decoration: none;
    gap: 30px;
    font-size: larger;

}
.nav .mag img {
    gap: 30px;
    justify-content: space-around;
    margin-left: 10px;
    margin-top: 3px;
}

.nav :hover {
    color: rgb(138, 5, 5);
    text-decoration: underline;
    height: 100%;
    
}
.nav {
    position: sticky;
    
}
.mag .watch {
    border-radius: 5px;
    gap: 50px;
    background-color: rgb(245, 12, 12);
    
}
.mag .watch a {
    text-decoration: none;
    float: right;
    margin-left: 40px;
    position: relative;
    margin-top: 12px;
    bottom: 5px;
    height: 30px;
    width: 150px;
    background-color: rgb(243, 7, 7);
    text-align: center;
    padding-top: 5px;
    border-radius: 7px;
    color: white;
    font-size: larger;

}
main {
    display: flexbox;
    align-items: center;
    justify-content: center;
    
}
.main {
    
    background-color: rgba(245, 243, 236, 0.959);
   
    height: 400;
    width: 950;
    display: flex;
    margin-left: 185px;
    padding: 5px;
    margin-left:px;
    margin-top: 40px;
}
.nin :hover {
    text-decoration: underline;
}
.main2 {
    background-color: rgb(200, 183, 216);
    width: 630px;
    height: 400px;
    display: flex;
    
   
    }
    .main .main2 a img {
        width: 630;
        height:400;
        
    }
    .main .main a img {
        transform-origin: 0 0;
        transition: transform .25s, visibility .25s ease-in;
    }
    .main2 a img :hover img {
        transform: scale(1.2);
    }
    .main .play1 {
        position: absolute;
    }
    .main .play1 img {
    opacity: 80%; 
    height: 60px;
    margin-top: 260;
    margin-left: 40px;
    display: flex;
    }
    .nin{
        background-color: rgb(242, 243, 240);
        margin-top: 50px;
       align-items: end;

    }
    .nin li{
        text-decoration: none;
        list-style: none;
    
    }
    .foot {
        margin-bottom: 40px;
        font-size: small;
    
    }
    .foot  {
        font-size: large; 
    }
    .faat {
        margin-bottom: 80px;
        font-size: x-large;
    }
    .nin li a{
        text-decoration: none;

    }
    .noon{
         border: 1px solid;
        height: 370px;
        width: 940px;
        background-color: rgb(242, 246, 247);
        display: flex;
        justify-content: center;
        margin: 20px;
        padding:6px;
        margin-left: 185px;
    }
    .non {margin-right: 20px;
    
    }
    .mon {
        display: flex;
        border: 1px solid;
        height: 50%;
        width: 300px;
    }
    .mon img {
        height: 100%;
        width: 100%;
    }
    .non.min {
        display: flex;
        
    }
    .min img {
        position: absolute;
        top: 115%;
        margin-left: 25px;
        opacity: 80%;
    }  
    .brit a {
        font-size: larger;
        margin-top: 45px;

    }
    .criket {margin-bottom: 30px;
    margin: 30px;
    }
    .brit {
        margin-top: 45px;
       
    }
    .text a {
        text-decoration: none;
        color: rgb(12, 2, 2);
    }
    .text :hover {
        text-decoration: underline;
    }
    .bbb {
        margin-right: 20px;
    }

    .cli {
        border: 1px solid;
        height: 50%;
        width: 300px;
        margin-bottom: 30px;
    }
    .cli img {
        height: 100%;
        width: 100%;

    }
    .clr img {
       position: absolute;
       top: 115%;
       margin-left: 30px;
       opacity: 60%;
    }

    .dom a {
        text-decoration: none;
        color: rgb(12, 1, 1);
    }
    .dom :hover {
        text-decoration: underline;
    }
    .var a {
        font-size: larger;
    }
    .foam {
        margin-bottom:30px ;
    }
    .clu {
        border: 1px solid;
        height: 50%;
        width: 300px;
    }
  .clu img {
    height: 100%;
    width: 100%;
  }
  .last img {
    position: absolute;
    top: 115%;
    margin-left: 30px;
    opacity: 70%;
  }
  .fin {margin: 30px; 
}

.fin :hover {
    text-decoration: underline;
}
.golf {
    margin: 30px;
}
.fin a {
    text-decoration: none;
    color: rgb(10, 1, 1);
}
.wood a {
    font-size: larger;
}
a :hover{ background-color: blue;

}